body{
	background:url('yellow.jpg') no-repeat;
	background-size: cover;
	font-family:arial;
}
ul{
	list-style:none;
	cursor:pointer;
}
ul li{
	float:left;
	width:165px;
	height:30px;
	background-color:white;
	opacity:.7;
	text-align:center;
	font-size:17px;
	margin-right:1px;
	transition:.6s ease;
}

ul li:hover{
	color:red;
	background-color:yellow;
}
ul li ul li{
	display:none;
}
ul li:hover ul li{
	display:block;
}